.footer {
    margin: 5rem 0;
    text-align: center;
    &-text {
        font-size: 2rem;
    }

    .name {
        color: var( --gray-light);
        text-decoration: underline;
        text-transform: uppercase;
    }
}